body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
    min-height: 100vh; /* Ensure the body takes the full height of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(25, 0, 54);
    position: relative; /* Add relative positioning to the body */
    background-image: url(resources/testbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500%;
    z-index: -2;
}

body::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 2%;
    width: 80vw; /* Adjust width for rectangle */
    height: 100vh; /* Adjust height for rectangle */
    background-color: rgba(102, 44, 76, 0.658);
    border-radius: 25px; /* Adjust border-radius for rounded corners */
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure the shape is behind other content */
}

.container {
    display: flex;
    flex-direction: column;
    text-align: justify; /* Center text inside the container */
    align-items: center;
    gap: 25px;
    max-width: 500px;
    margin: 20px;
}

h1 {
    align-self: center;
    color: wheat;
    margin-top: 10%;
}


p.text-picture {
    margin: 20px;
    margin-top: -30px;
    align-self: center;
    font-size: 10px;
    line-height: 7px;
    background-image: url(resources/jepepi.jpg);
    background-size: 50%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

p.message {
    color: lightblue;
    margin-top: -5%;
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
    text-align: justify;
}

.toIndex {
    display: flex;
    flex-direction: row;
    font-style: italic;
    color: white;
    background-color: rgb(102, 44, 76);
    border-color: white;

    margin-left: -75%;
    margin-top: -5%;
    border-radius: 10px;
    padding: 5px 20px;
    gap: 30px;
}